@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --tomato: hsl(4, 100%, 67%);
    --darkSlateGrey: hsl(234, 29%, 20%);
    --charcolaGrey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-size: 1.12rem;
    min-height: 100vh;
    margin: 0;
    /* Font */
    --roboto: "Roboto", sans-serif;
}

.success-container {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem 1rem;
    align-items: flex-start;
    height: 90vh;
}

img {
    width: 100%;
    height: 3rem;
}

.email-adress{
    font-weight: bold;
}

.dismiss-btn {
    background-color: var(--darkSlateGrey);
    width: 100%;
    margin-top: auto;
    border-radius: 10px;
    color: var(--white);
    font-family: var(--roboto);
    font-size: 1.12rem;
    padding-block: 15px;
}

@media screen and (min-width: 1440px) {
    body {
        background-color: var(--darkSlateGrey);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .success-container {
        background-color: var(--white);
        width: 380px;
        height: 380px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
    }

    h1 {
        font-size: 50px;
        margin-bottom: 0;
    }

    .dismiss-btn {
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    .dismiss-btn:hover {
        background-color: var(--charcolaGrey);
        transform: scale(1.05);
    }
}
